/*body {
  padding-top: 61px;
}*/

/* dashboard sidebar */
.section.sidebar {
  top: 52px;
  background-color:rgba(52, 73, 94, 0.5);
  color:white;
}

/* dashboard nav-bar */
.container-fluid {
  background-color:#34495e;
}

/* dashboard body */
body {
  background-color:#34495e;
  color:white;
  padding-top: 60px;
}

/*table.dataTable.no-footer {
  color:white
}*/


/* dashboard box title */
.chart-title {
  color: white;
  font-weight:500;
}

/* dashboard box */
.dark-box {
  background-color:#34495e;
  color:white;
}


/* Shiny select input */

.selectize-input .item {
  color: #FFCCFF;
  font-weight:bold;
}

.selectize-input.full {
  background-color:#34495e;
}

.selectize-input, .selectize-control.single .selectize-input.input-active{
  background-color:#34495e;
}

.selectize-dropdown, .selectize-dropdown.form-control{
  background-color:#34495e;
  color:white;
  border-color:white;
}

.selectize-control.single .selectize-input.dropdown-active:after{
  border-color: transparent transparent white transparent;
}

.selectize-control.single .selectize-input:after{
  border-color: white transparent transparent transparent;
}

/* Table */
table {
  border: 1px solid #CCC;
  border-collapse: collapse;
}

/* table header */
th {
  color:white;
  background:#34495e;
}

td {
  border: none !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover{
  background-color: rgba(255, 204, 255, 0.7) !important;
}

#info {
  color:#00CCFF !important;
}




