/*body {
  padding-top: 61px;
}*/

/* dashboard sidebar */
.section.sidebar {
  top: 52px;
  background-color:rgba(52, 73, 94, 0.5);
  color:white;
}

/* dashboard nav-bar */
.container-fluid {
  background-color:#34495e;
}

/* dashboard body */
body {
  background-color:#34495e;
  color:white;
  padding-top: 60px;
}

/*table.dataTable.no-footer {
  color:white
}*/


/* dashboard box title */
.chart-title {
  color: white;
  font-weight:500;
}

/* dashboard box */
.dark-box {
  background-color:#34495e;
  color:white;
}

/* Shiny select input */

.selectize-input .item {
  color: #FFCCFF;
  font-weight:bold;
}

.selectize-input.full {
  background-color:#34495e;
}

.selectize-input, .selectize-control.single .selectize-input.input-active{
  background-color:#34495e;
}

.selectize-dropdown, .selectize-dropdown.form-control{
  background-color:#34495e;
  color:white;
  border-color:white;
}

.selectize-control.single .selectize-input.dropdown-active:after{
  border-color: transparent transparent white transparent;
}

.selectize-control.single .selectize-input:after{
  border-color: white transparent transparent transparent;
}

/* Table */
table {
  border: 1px solid #CCC;
  border-collapse: collapse;
}

/* table header */
th {
  color:white;
  background:#34495e;
}

td {
  border: none !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover{
  background-color: rgba(255, 204, 255, 0.7) !important;
}

#info {
  color:#00CCFF !important;
}

/*link*/
a:link {
  color:#33CCFF !important;
}

/* mouse over link */
a:hover {
  color:#99FFFF;
}

.alert-info {
  background-color:#2f7ed8;
  color:white;
  font-size:bold;
  font-size:90%;
}

.shiny-output-error-validation {
    color: #33CC33;
    font-weight: bold;
    margin-top:10px;
    text-align:center;
}

.caption1 {
  color:white;
  font-size:90%;
  margin:0 0 0 0;
}

.location {
  color:#00CCFF;
  font-weight:bold; 
  font-size:90%
}

.caption2{
  color:#33CCFF;
  font-size:85%;
  font-style:italic;
}

a:hover {
  background-color:#FF3399 !important;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar li {
    font-size:12pt;
    display:block;
    float: right;
    height:90px;
    width: 145px; /*new*/
    text-align: center; /*new*/
    transition: all 0.2s ease-in-out;
}

.navbar li a {
    font-family:FontAwesome;
    color:#eee;
    font-size:22pt;
    text-decoration: none;
    display: block;
    padding:15px;
}

.navbar li i {
    color:pink !important;
    padding:0 10px;
}
.navbar li b {
    padding: 15px 0;
    display: none;
}
.navbar a:hover {
    color: #fff;
}
.navbar a:hover i {
    display: none;
}
.navbar a:hover b{
  display: block;
}



