body {
  padding-top: 60px;
}

.section.sidebar {
  top: 51px;
  background-color: rgba(39, 128, 227, 0.1);
}

.value-box {
  color: #f9f9f9;
}

.selectize-input .item {
  color: #1a6ecc;
}

/* Table */
table {
  border: 1px solid #CCC;
  border-collapse: collapse;
}

td {
    border: none !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover{
  background-color: rgba(223, 177, 214, 0.5) !important;
}

.chart-title {
  font-weight:500;
}

.alert-info {
  background-color:#1a6ecc;
  color:white;
  font-size:bold;
  font-size:90%;
}


